/**
 * Lee Top Menu Layout Light Size Variables
 * 顶部菜单布局亮色主题尺寸变量
 *
 * @format
 */

@use "../common/index.scss" as *;

.light-size-theme {
  // =========================
  // 主体布局尺寸 (--lee-topmenu)
  // =========================
  --lee-topmenu-header-height: 55px;
  --lee-topmenu-breadcrumb-height: 45px;
  --lee-topmenu-tab-height: 35px;

  // =========================
  // 头部样式 (--lee-topmenu-header)
  // =========================
  --lee-topmenu-header-padding: 0 24px;

  // =========================
  // Logo 样式 (--lee-topmenu-logo)
  // =========================
  --lee-topmenu-logo-height: 30px;
  --lee-topmenu-logo-width: 30px;
  --lee-topmenu-logo-font-size: 15px;
  --lee-topmenu-logo-font-weight: 600;
  --lee-topmenu-logo-text-width: 200px;

  // =========================
  // 搜索框样式 (--lee-topmenu-search)
  // =========================
  --lee-topmenu-search-height: 80%;
  --lee-topmenu-search-width: 40px;
  --lee-topmenu-search-width-focus: 150px;

  // =========================
  // 侧边栏样式 (--lee-topmenu-sidebar)
  // =========================
  --lee-topmenu-sidebar-padding: 0 30px;

  // =========================
  // 用户菜单样式 (--lee-topmenu-user-menu)
  // =========================
  --lee-topmenu-user-menu-font-size: 14px;
  --lee-topmenu-user-menu-font-weight: 500;

  // =========================
  // 面包屑样式 (--lee-topmenu-breadcrumb)
  // =========================
  --lee-topmenu-breadcrumb-padding: 0px 24px;
  --lee-topmenu-breadcrumb-font-size: 15px;

  // =========================
  // 页签样式 (--lee-topmenu-tab)
  // =========================
  --lee-topmenu-tab-margin: 10px 0 0 0;

  // =========================
  // 内容区域样式 (--lee-topmenu-content)
  // =========================
  --lee-topmenu-content-padding: 20px 20px 20px 20px;
}
