/**
 * @format
 *
 * Lee Sidebar Layout Styles
 * 侧边栏布局样式,样式导出
 */

@use "./theme/index.scss" as *;
@use "../../themes/variables.scss" as *;

.lee-sidebar-layout {
  height: 100vh;
  overflow: hidden;

  .layout-container {
    height: 100%;
  }

  .layout-main {
    height: 100vh;
    position: relative;
  }

  .layout-divider {
    width: 1px;
    background: var(--lee-sidebar-sidebar-border-color);
    position: absolute;
    left: var(--lee-sidebar-sidebar-width);
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: left 0.2s;

    &.collapsed {
      left: var(--lee-sidebar-sidebar-collapsed-width);
    }
  }
  .layout-content {
    flex: 1;
    overflow: hidden;
    background-color: var(--lee-sidebar-content-bg);
  }

  .content-wrapper {
    padding: var(--lee-sidebar-content-padding);
    height: calc(100vh - var(--lee-breadcrumb-height));
    overflow: auto;
    @include common-scrollbar;
  }
}

// 暗色主题适配
[data-theme="dark"] {
}
