/** @format */

@use "../styles/index.scss" as *;

.lee-topmenu-layout .layout-tab {
  height: calc(
    100vh - var(--lee-topmenu-header-height) - var(
        --lee-topmenu-breadcrumb-height
      )
  );
  .ant-tabs-nav {
    height: var(--lee-topmenu-tab-height);
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: var(--lee-topmenu-tab-margin);

    &::before {
      border-bottom: 1px solid var(--lee-topmenu-tab-border);
    }

    .ant-tabs-tab {
      background: var(--lee-topmenu-tab-bg);
    }
    .ant-tabs-tab-active {
      background-color: var(--lee-topmenu-tab-active-bg);
      .ant-tabs-tab-btn {
        color: var(--lee-topmenu-tab-active-text);
      }
      .ant-tabs-tab-remove {
        color: var(--lee-topmenu-tab-active-text);
      }

      &:hover {
        color: var(--lee-topmenu-tab-hover-text);
      }
    }
  }
}

// 暗色主题
[data-theme="dark"] {
  .lee-topmenu-layout .layout-tab {
    .ant-tabs-tab {
      background: var(--lee-topmenu-tab-bg);
    }
    .ant-tabs-nav {
      &::before {
        border-bottom: 1px solid var(--lee-topmenu-tab-border);
      }
    }
    .ant-tabs-tab-active {
      background-color: var(--lee-topmenu-tab-active-bg);
      .ant-tabs-tab-btn {
        color: var(--lee-topmenu-tab-active-text);
      }
      .ant-tabs-tab-remove {
        color: var(--lee-topmenu-tab-active-text);
      }

      &:hover {
        .ant-tabs-tab-btn {
          color: var(--lee-topmenu-tab-hover-text);
        }
      }
    }
  }
}
