/**
 * @format
 *
 * Lee Basic Layout Styles
 * 基础布局样式,样式导出
 */

@use "./theme/index.scss" as *;
@use "../../themes/variables.scss" as *;

.lee-basic-layout {
  height: 100vh;
  overflow: hidden;

  .layout-container {
    height: 100%;
  }

  .layout-main {
    height: calc(100vh - var(--lee-basic-header-height));
    position: relative;
  }

  .layout-divider {
    width: 1px;
    background: var(--lee-basic-sidebar-border-color);
    position: absolute;
    left: var(--lee-basic-sidebar-width);
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: left 0.2s;

    &.collapsed {
      left: var(--lee-basic-sidebar-collapsed-width);
    }
  }

  .layout-content {
    flex: 1;
    overflow: hidden;
    transition: margin-left 0.2s;
    background: var(--lee-basic-content-bg);
    padding-top: var(--lee-basic-header-height);
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .content-wrapper {
    padding: var(--lee-basic-content-padding);
    height: calc(
      100vh - var(--lee-basic-header-height) - var(
          --lee-basic-breadcrumb-height
        ) - var(--lee-basic-tab-height)
    );
    overflow: auto;
    @include common-scrollbar;
  }
}
