/** @format */

@use "../styles/index.scss" as *;

.lee-plm-layout .layout-breadcrumb {
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

// 暗色主题
[data-theme="dark"] {
  .lee-plm-layout .layout-breadcrumb {
    background: var(--lee-basic-breadcrumb-bg);
  }
}
