/**
 * @format
 *
 * Lee PLM Layout Styles
 * 基础布局样式,样式导出
 */

@use "./theme/index.scss" as *;
@use "../../themes/variables.scss" as *;

.lee-plm-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .layout-container {
    height: 100%;
  }

  .layout-main {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--lee-plm-content-bg);
    flex: 1;
  }

  .layout-divider {
    width: 1px;
    background: var(--lee-plm-sidebar-border-color);
    position: absolute;
    left: var(--lee-plm-sidebar-width);
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: left 0.2s;

    &.collapsed {
      left: var(--lee-plm-sidebar-collapsed-width);
    }
  }

  .layout-content {
    flex: 1;
    overflow: hidden;
    transition: margin-left 0.2s;
    padding-top: var(--lee-plm-header-height);
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .content-wrapper {
    padding: var(--lee-plm-content-padding);
    height: calc(100vh - var(--lee-plm-header-height));
    overflow: auto;
    @include common-scrollbar;
  }
}
