/** @format */

.ql-container {
  height: calc(100% - 70px);
}

.lee-rich-text-wrapper {
  &.fullscreen-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;

    .ql-toolbar {
      border: 1px solid #ccc;
    }

    .ql-container {
      height: calc(100vh - 100px);
      border: 1px solid #ccc;
      border-top: 0;
    }
  }

  &:not(.fullscreen-mode) {
    .ql-container {
      height: calc(100% - 70px);
    }
  }
}
